/* Estilos para el encabezado */
.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(90, 28, 119, 0.7);
    padding: 15px 0;
    z-index: 999;
}

/* Contenedor para el contenido del encabezado */
.contenido-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para el logo */
.logo img {
    max-width: 80px; /* Ancho máximo deseado */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Eliminar espacio adicional debajo de la imagen */
}

/* Estilo para el logo */
.logo {
    color: #e0c755;
    font-size: 24px; /* Tamaño de fuente reducido para dispositivos móviles */
    font-weight: bold;
    text-decoration: none;
}

/* Estilo para la lista de navegación */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Estilo para los elementos de la lista de navegación */
.menu li {
    margin-right: 20px;
}

/* Estilo para los enlaces del menú */
.menu a {
    color: #ffffffdc;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo base del botón cuadrado */
#scroll-to-top {
    background-color: #652792;
    color: #ffffff;
    border: none;
    width: 45px;
    height: 45px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Estilo de la flecha blanca */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    margin-right: 5px;
}

/* Cambia el color de fondo al pasar el mouse */
#scroll-to-top:hover {
    background-color: #4a1c5a;
    transform: scale(1.05);
}





